---
import "../styles/global.css";
import Header from "../components/Header.jsx";
import Services from "../components/Services.astro";
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
  </head>

  <body class=" bg-background text-content">
    <Header client:load />

    <main class="pt-16">
      <Services />
    </main>
  </body>
</html>
