---

---

<footer class="bg-secondary">
  <div class="sp-container flex gap-2 items-center p-4">
    <div><a href="/">Home</a></div>
    <div><a href="/privacy">Privacy Policy</a></div>
    <div><a href="/about">About Us</a></div>
  </div>
</footer>
