---

---

<footer class="bg-secondary">
  <div class="sp-container flex gap-2 items-center p-4">
    <div><a class="hover:text-primary hover:underline transition-all" href="/">Home</a></div>
    <div><a class="hover:text-primary hover:underline transition-all" href="/about">About Us</a></div>
    <div><a class="hover:text-primary hover:underline transition-all" href="/privacy">Privacy Policy</a></div>
    
  </div>
</footer>
