---

---

<footer class="bg-secondary">
  <div class="sp-container flex gap-4 items-center p-4">
    <div>
      <a class="hover:text-primary hover:underline transition-all" href="/"
        >Home</a>
    </div>
    <div>
      <a class="hover:text-primary hover:underline transition-all" href="/about"
        >About Us</a>
    </div>
    <div>
      <a
        class="hover:text-primary hover:underline transition-all"
        href="/privacy">Privacy Policy</a>
    </div>
  </div>
  <a href="tel:+918519041578" style="
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FF714B;
    color: white;
    border-radius: 100px;
    padding: 12px 18px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 9999;
    display: block phone-contact;">
    📞 91-8519041578
</a>

</footer>
