---

---

<section>
  <div class="sp-container mb-10 text-center">
    <h2 class="bg-gradient-to-tr from-pink-400 to-purple-500 bg-clip-text text-transparent">Our Services</h2>
  </div>
  <div class="sp-container">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-6">
      <div class="space-y-2 border-border border p-8 rounded-lg bg-secondary">
        <div
          class="size-fit rounded-full p-0.5 lg:p-[3px] bg-gradient-to-bl from-primary to-pink-400"
        >
          <div
            class="size-12 lg:size-14 grid place-content-center text-white rounded-full bg-black bg-gradient-to-br from-blue-400/25 to-pink-500/25"
          >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#ffffff" fill="none">
    <path d="M8.9412 6.34883L10.7549 8.90093C11.1244 9.42085 11.3092 9.68081 11.4046 9.98004C11.5 10.2793 11.5 10.5987 11.5 11.2377V20H5.5C3.61438 20 2.67157 20 2.08579 19.4112C1.5 18.8225 1.5 17.8749 1.5 15.9797V11.2377C1.5 10.5987 1.5 10.2793 1.59541 9.98004C1.69082 9.68081 1.87557 9.42085 2.24507 8.90093L4.0588 6.34883C5.17165 4.78294 5.72807 4 6.5 4C7.27193 4 7.82835 4.78294 8.9412 6.34883Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M8.5 20V16C8.5 15.2523 8.5 14.8785 8.33923 14.6C8.23391 14.4176 8.08242 14.2661 7.9 14.1608C7.62154 14 7.24769 14 6.5 14C5.75231 14 5.37846 14 5.1 14.1608C4.91758 14.2661 4.76609 14.4176 4.66077 14.6C4.5 14.8785 4.5 15.2523 4.5 16V20" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M8.5 20H18.5C20.3856 20 21.3284 20 21.9142 19.4142C22.5 18.8284 22.5 17.8856 22.5 16V11.4482C22.5 10.7315 22.5 10.3732 22.3805 10.0432C22.2611 9.7133 22.0317 9.43802 21.5729 8.88746L18.6994 5.43926C18.1096 4.73152 17.8147 4.37764 17.4116 4.18882C17.0084 4 16.5478 4 15.6265 4H6.5" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M22 10H11.5" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
          </div>
        </div>
        <h4>Home Shifting Services</h4>
        <p>
        Experience a hassle-free move with our professional home shifting services. We ensure your belongings are packed and transported safely to your new home.
        </p>
      </div>
      <div class="space-y-2 border-border border p-8 rounded-lg bg-secondary">
        <div
          class="size-fit rounded-full p-0.5 lg:p-[3px] bg-gradient-to-bl from-primary to-pink-400"
        >
          <div
            class="size-12 lg:size-14 grid place-content-center text-white rounded-full bg-black bg-gradient-to-br from-blue-400/25 to-pink-500/25"
          >
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#ffffff" fill="none">
    <path d="M6.11097 13.2551C6.2956 13.085 6.38792 13 6.5 13C6.61208 13 6.7044 13.085 6.88903 13.2551L7.60169 13.9117C7.68779 13.991 7.73084 14.0307 7.78432 14.0503C7.83779 14.07 7.89629 14.0677 8.01327 14.0631L8.97616 14.0253C9.2241 14.0155 9.34806 14.0107 9.43307 14.0821C9.51809 14.1535 9.53464 14.2765 9.56774 14.5224L9.70038 15.5077C9.7157 15.6216 9.72336 15.6785 9.75112 15.7271C9.77887 15.7757 9.824 15.8112 9.91427 15.8823L10.6898 16.4928C10.8817 16.6439 10.9777 16.7194 10.9967 16.8274C11.0157 16.9354 10.9513 17.0391 10.8225 17.2467L10.2965 18.0943C10.2363 18.1913 10.2063 18.2398 10.1967 18.2946C10.1871 18.3493 10.199 18.4052 10.2228 18.5168L10.4315 19.4952C10.4827 19.7356 10.5084 19.8558 10.4533 19.9513C10.3983 20.0467 10.2814 20.0848 10.0477 20.1609L9.122 20.4624C9.01167 20.4983 8.9565 20.5163 8.91341 20.5528C8.87033 20.5894 8.84361 20.6409 8.79017 20.7439L8.33798 21.6154C8.22274 21.8375 8.16512 21.9485 8.06009 21.9868C7.95507 22.0251 7.8395 21.9772 7.60838 21.8813L6.71996 21.5128C6.61143 21.4678 6.55717 21.4453 6.5 21.4453C6.44283 21.4453 6.38857 21.4678 6.28004 21.5128L5.39162 21.8813C5.1605 21.9772 5.04494 22.0251 4.93991 21.9868C4.83488 21.9485 4.77726 21.8375 4.66202 21.6154L4.20983 20.7439C4.15639 20.6409 4.12967 20.5894 4.08659 20.5528C4.0435 20.5163 3.98833 20.4983 3.878 20.4624L2.95226 20.1609C2.71856 20.0848 2.60171 20.0467 2.54668 19.9513C2.49165 19.8558 2.51727 19.7356 2.56853 19.4952L2.77716 18.5168C2.80096 18.4052 2.81286 18.3493 2.80331 18.2946C2.79375 18.2398 2.76366 18.1913 2.70348 18.0943L2.17746 17.2467C2.04867 17.0391 1.98427 16.9354 2.00328 16.8274C2.02229 16.7194 2.11825 16.6439 2.31018 16.4928L3.08573 15.8823C3.176 15.8112 3.22113 15.7757 3.24888 15.7271C3.27664 15.6785 3.2843 15.6216 3.29962 15.5077L3.43226 14.5224C3.46536 14.2765 3.48191 14.1535 3.56693 14.0821C3.65194 14.0107 3.7759 14.0155 4.02384 14.0253L4.98673 14.0631C5.10371 14.0677 5.16221 14.07 5.21568 14.0503C5.26916 14.0307 5.31221 13.991 5.39831 13.9117L6.11097 13.2551Z" stroke="#ffffff" stroke-width="1.5"></path>
    <path d="M6.5 9H5.5M10.5 9H9.5M6.5 6H5.5M10.5 6H9.5" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"></path>
    <path d="M18.5 15H17.5M18.5 11H17.5" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"></path>
    <path d="M14 8V22H18C19.8856 22 20.8284 22 21.4142 21.4142C22 20.8284 22 19.8856 22 18V12C22 10.1144 22 9.17157 21.4142 8.58579C20.8284 8 19.8856 8 18 8H14ZM14 8C14 5.17157 14 3.75736 13.1213 2.87868C12.2426 2 10.8284 2 8 2C5.17157 2 3.75736 2 2.87868 2.87868C2 3.75736 2 5.17157 2 8V11" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>          </div>
        </div>
        <h4>Office Shifting Services</h4>
        <p>Relocate your office with minimal downtime. Our expert team handles your equipment and furniture with utmost care and efficiency.</p>
      </div>
      <div class="space-y-2 border-border border p-8 rounded-lg bg-secondary">
        <div
          class="size-fit rounded-full p-0.5 lg:p-[3px] bg-gradient-to-bl from-primary to-pink-400"
        >
          <div
            class="size-12 lg:size-14 grid place-content-center text-white rounded-full bg-black bg-gradient-to-br from-blue-400/25 to-pink-500/25"
          >
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#ffffff" fill="none">
    <path d="M22 15.4222V18.5C22 18.9659 22 19.1989 21.9239 19.3827C21.8224 19.6277 21.6277 19.8224 21.3827 19.9239C21.1989 20 20.9659 20 20.5 20C20.0341 20 19.8011 20 19.6173 19.9239C19.3723 19.8224 19.1776 19.6277 19.0761 19.3827C19 19.1989 19 18.9659 19 18.5C19 18.0341 19 17.8011 18.9239 17.6173C18.8224 17.3723 18.6277 17.1776 18.3827 17.0761C18.1989 17 17.9659 17 17.5 17H6.5C6.03406 17 5.80109 17 5.61732 17.0761C5.37229 17.1776 5.17761 17.3723 5.07612 17.6173C5 17.8011 5 18.0341 5 18.5C5 18.9659 5 19.1989 4.92388 19.3827C4.82239 19.6277 4.62771 19.8224 4.38268 19.9239C4.19891 20 3.96594 20 3.5 20C3.03406 20 2.80109 20 2.61732 19.9239C2.37229 19.8224 2.17761 19.6277 2.07612 19.3827C2 19.1989 2 18.9659 2 18.5V15.4222C2 14.22 2 13.6188 2.17163 13.052C2.34326 12.4851 2.67671 11.9849 3.3436 10.9846L4 10L4.96154 7.69231C5.70726 5.90257 6.08013 5.0077 6.8359 4.50385C7.59167 4 8.56112 4 10.5 4H13.5C15.4389 4 16.4083 4 17.1641 4.50385C17.9199 5.0077 18.2927 5.90257 19.0385 7.69231L20 10L20.6564 10.9846C21.3233 11.9849 21.6567 12.4851 21.8284 13.052C22 13.6188 22 14.22 22 15.4222Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M2 8.5L4 10L5.76114 10.4403C5.91978 10.4799 6.08269 10.5 6.24621 10.5H17.7538C17.9173 10.5 18.0802 10.4799 18.2389 10.4403L20 10L22 8.5" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M18 14V14.01" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M6 14V14.01" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
</svg> </div>
        </div>
        <h4>Car Transportation</h4>
        <p>Get your car transported securely with our reliable car transportation services, ensuring on-time delivery to your desired location.</p>
      </div>
      <div class="space-y-2 border-border border p-8 rounded-lg bg-secondary">
        <div
          class="size-fit rounded-full p-0.5 lg:p-[3px] bg-gradient-to-bl from-primary to-pink-400"
        >
          <div
            class="size-12 lg:size-14 grid place-content-center text-white rounded-full bg-black bg-gradient-to-br from-blue-400/25 to-pink-500/25"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#ffffff" fill="none">
    <circle cx="19.5" cy="16.5" r="2.5" stroke="#ffffff" stroke-width="1.5"></circle>
    <circle cx="4.5" cy="16.5" r="2.5" stroke="#ffffff" stroke-width="1.5"></circle>
    <path d="M20.2348 7.86957C21.5163 9.42897 21.9615 10.9117 21.9994 11.6957C21.3294 11.3893 20.5771 11.2174 19.7821 11.2174C17.3369 11.2174 15.1419 12.8433 14.6177 15.0092C14.4924 15.527 14.4298 15.7859 14.2937 15.8929C14.1577 16 13.9382 16 13.4994 16H10.6206C10.1784 16 9.95733 16 9.82074 15.8915C9.68414 15.7829 9.62431 15.5249 9.50465 15.0088C9.00893 12.8708 6.99671 11.0124 4.90197 11.1698C4.69089 11.1857 4.58535 11.1936 4.51294 11.1775C4.44054 11.1613 4.36764 11.1202 4.22185 11.0378C3.80097 10.8001 3.37061 10.5744 2.95793 10.3227C2.38299 9.97198 2.02315 9.35549 2.00053 8.68241C1.98766 8.29933 2.20797 7.91865 2.65301 8.02338L9.07369 9.53435C9.55601 9.64785 9.79717 9.70461 10.0044 9.66597C10.2116 9.62734 10.4656 9.4536 10.9737 9.10614C12.262 8.22518 14.3037 7.39305 16.339 8.12822C16.8961 8.32947 17.1747 8.4301 17.3334 8.43513C17.4921 8.44016 17.7247 8.37247 18.1899 8.23707C18.9431 8.01785 19.6521 7.90409 20.2348 7.86957ZM20.2348 7.86957C19.4316 6.89211 18.2997 5.88452 16.7336 5" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
          </div>
        </div>
        <h4>Bike Transportation</h4>
        <p>We specialize in the safe and timely transport of two-wheelers, providing complete protection for your bike during transit.</p>
      </div>
      <div class="space-y-2 border-border border p-8 rounded-lg bg-secondary">
        <div
          class="size-fit rounded-full p-0.5 lg:p-[3px] bg-gradient-to-bl from-primary to-pink-400"
        >
          <div
            class="size-12 lg:size-14 grid place-content-center text-white rounded-full bg-black bg-gradient-to-br from-blue-400/25 to-pink-500/25"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#ffffff" fill="none">
    <path d="M17.8043 4.06866L13.6094 2.45779C12.8147 2.1526 12.4173 2 12 2C11.5827 2 11.1853 2.1526 10.3906 2.45779L6.19572 4.06866C4.06524 4.88678 3 5.29585 3 6C3 6.70415 4.06524 7.11322 6.19573 7.93134L10.3906 9.54221C11.1853 9.8474 11.5827 10 12 10C12.4173 10 12.8147 9.8474 13.6094 9.54221L17.8043 7.93134C19.9348 7.11322 21 6.70415 21 6C21 5.29585 19.9348 4.88678 17.8043 4.06866Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M21 6V18C21 18.7042 19.9348 19.1132 17.8043 19.9313L13.6094 21.5422C12.8147 21.8474 12.4173 22 12 22C11.5827 22 11.1853 21.8474 10.3906 21.5422L6.19573 19.9313C4.06524 19.1132 3 18.7042 3 18V6" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M12 10V22" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M16.5 4L7 8V10.5" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M5.5 16.092V15.2555C5.5 14.5602 5.5 14.2125 5.72475 14.0621C5.94951 13.9116 6.26431 14.0486 6.89392 14.3225L8.39392 14.975C8.68787 15.1029 8.83484 15.1668 8.91742 15.294C9 15.4211 9 15.5834 9 15.908V16.7445C9 17.4398 9 17.7875 8.77525 17.9379C8.55049 18.0884 8.23568 17.9514 7.60608 17.6775L6.10608 17.025C5.81213 16.8971 5.66516 16.8332 5.58258 16.706C5.5 16.5789 5.5 16.4166 5.5 16.092Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
          </div>
        </div>
        <h4>Packing and Unpacking</h4>
        <p>Our skilled team uses top-quality materials to pack and unpack your belongings, ensuring their safety throughout the moving process.</p>
      </div>
      <div class="space-y-2 border-border border p-8 rounded-lg bg-secondary">
        <div
          class="size-fit rounded-full p-0.5 lg:p-[3px] bg-gradient-to-bl from-primary to-pink-400"
        >
          <div
            class="size-12 lg:size-14 grid place-content-center text-white rounded-full bg-black bg-gradient-to-br from-blue-400/25 to-pink-500/25"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#ffffff" fill="none">
    <path d="M10.4478 2.98351L4.94777 5.2993C3.76103 5.79898 3.16767 6.04882 2.83383 6.5516C2.5 7.05438 2.5 7.6982 2.5 8.98585V21.5H5.5V11.5C5.5 10.5572 5.5 10.0858 5.79289 9.79289C6.08579 9.5 6.55719 9.5 7.5 9.5H16.5C17.4428 9.5 17.9142 9.5 18.2071 9.79289C18.5 10.0858 18.5 10.5572 18.5 11.5V21.5H21.5V8.98585C21.5 7.6982 21.5 7.05438 21.1662 6.5516C20.8323 6.04882 20.239 5.79898 19.0522 5.2993L13.5522 2.98351C12.7867 2.66117 12.4039 2.5 12 2.5C11.5961 2.5 11.2133 2.66117 10.4478 2.98351Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M11 6.5H13" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M13 15.5H11C10.0572 15.5 9.58579 15.5 9.29289 15.7929C9 16.0858 9 16.5572 9 17.5V19.5C9 20.4428 9 20.9142 9.29289 21.2071C9.58579 21.5 10.0572 21.5 11 21.5H13C13.9428 21.5 14.4142 21.5 14.7071 21.2071C15 20.9142 15 20.4428 15 19.5V17.5C15 16.5572 15 16.0858 14.7071 15.7929C14.4142 15.5 13.9428 15.5 13 15.5Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
          </div>
        </div>
        <h4>Storage and Warehousing</h4>
        <p>Need extra space? Our secure storage and warehousing solutions are perfect for your short-term and long-term needs.</p>
      </div>
    </div>
  </div>
</section>
