---
import "../styles/global.css";

const { title ="Malwa Packers and Movers" } = Astro.props;
const { description = "No.1 Packers and Movers In Indore, Madhya Pradesh"} = Astro.props;

import Header from "../components/Header";
import Footer from "../components/Footer.astro";
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={description} />
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MGSRBV6W');</script>
<!-- End Google Tag Manager -->

</head>
<body class="bg-background text-content">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MGSRBV6W"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <Header client:load/>
  <main class="pt-16">
    <slot />
  </main>
  <Footer />
</body>
