---
import BaseLayout from "../../layouts/BaseLayout.astro";
import QuotationFrom from "../../components/QuotationForm.jsx";
import PhotoGallery from "../../components/PhotoGallery.astro";
---

<BaseLayout title="Local Home Shifting within Indore">
  <section>
    <div class="sp-container grid grid-cols-1 sm:grid-cols-2 gap-6">
      <div class="flex flex-col justify-center">
        <span class="text-white bg-gradient-to-r from-red-500 to-pink-500 px-4 py-2 rounded-full w-fit text-shadow-black">
          इंदौर का भरोसेमंद पैकर्स & मूवर्स | Malwa Roadways
        </span>
        <h1>Smooth & Stress-Free Local Home Shifting in Indore</h1>
        <p>
          Move within the city without the hassle! Our expert packers and movers
          handle packing, loading, and safe delivery, making your local home
          shifting quick, affordable, and worry-free.
        </p>
      </div>

      <div>
        <QuotationFrom />
      </div>
    </div>
  </section>
  <PhotoGallery />
</BaseLayout>
